@font-face {
    font-family: Noto Sans KR;
    font-weight: 700;
    src: url('./NotoSans-Bold.woff') format('woff');
}
@font-face {
    font-family: Noto Sans KR;
    font-weight: 500;
    src: url('./NotoSans-Medium.woff') format('woff');
}
@font-face {
    font-family: Noto Sans KR;
    font-weight: 400;
    src: url('./NotoSans-Regular.woff') format('woff');
}