html,body {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  padding: 0;
  margin: 0;
  -webkit-text-size-adjust: none;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

h1 {
  font-size: 50px;
  margin: 0;
}

h2 {
  font-size: 36px;
  font-weight: 700;
  margin: 0;
}

h3 {
  font-size: 24px;
  margin: 0;
}

h4 {
  font-size: 18px;
  margin: 0;
}

h5 {
  font-size: 13px;
  margin: 0;
}

h6 {
  font-size: 10px;
  margin: 0;
}

*,
*:before,
*:after {
  font-family: Pretendard;
  box-sizing: border-box;
}

:focus {
  outline: none;
  border: none;
}
::-webkit-scrollbar {
  display: none;
}

button {
  background: none;
  padding: 0;
  border: none;
  cursor: pointer;
}